:host{
    display:block;
    width: 100%;
    padding: 0.25rem;
}

.message-wrapper{
    display: flex;
    width: auto;
}

.is-me{
    justify-content: flex-end;
}

.is-other{
    justify-content: flex-start;
}

.is-me .message-bubble {
    background-color: var(--p-primary-500);
    color: var(--p-primary-contrast-color);
}

.is-other .message-bubble {
    background-color: var(--p-surface-100); 
    color: var(--p-text-primary);
}

.message-bubble {
    min-width: 7.5%;
    max-width: 60%;
    border-radius: 1.5rem;
}