:host{
    display:block;
    width: 100%;
    padding: 0.25rem;
}

.message-wrapper{
    display: flex;
    width: auto;
}

.is-me{
    justify-content: flex-end;
}

.is-other{
    justify-content: flex-start;
}