:host{
    display:block;
    width: 100%;
    margin: 0.5rem;
}

.message-wrapper{
    display: flex;
    width: auto;
}

.is-me{
    justify-content: flex-end;
}

.is-other{
    justify-content: flex-start;
}